{{define "title"}}Verse #{{.Snippet.ID}}{{end}}

{{define "main"}}
  {{with .Snippet}}
<div class='snippet'>
  <div class='metadata'>
    <strong>{{.Title}}</strong>
    <span>#{{.ID}}</span>
  </div>
  <p class='content'>{{.Content}}</p>
  <div class='metadata'>
    <time>{{.Created | humanDate | printf "Created on %s"}}</time>
    <time>{{.Expires | humanDate | printf "Expires on %s"}}</time>
  </div>
</div>
  {{end}}
{{end}}
