{{ define "nav" }}
<nav>
  <div>
    <a href='/'>Home</a>
    {{if .IsAuthenticated}}
    <a href='/snippet/create'>Create verse</a>
    {{end}}
  </div>
  <div>
    {{if not .IsAuthenticated}}
    <a href='/user/signup'>Signup</a>
    <a href='/user/login'>Login</a>
    {{end}}
    {{if .IsAuthenticated}}
    <form action='/user/logout' method='POST'>
      <input type='hidden' name='csrf_token' value='{{.CSRFToken}}'>
      <button>Logout</button>
    </form>
    {{end}}
  </div>
</nav>
{{ end }}
